parameters:
    level: 5
    paths:
        - src/app
        - src/includes
    bootstrapFiles:
        - vendor/autoload.php
        - src/includes/bootstrap.php
    treatPhpDocTypesAsCertain: false
